mat-toolbar {
  background-color: #D8CE40;
  color: black;
}

.spacer {
  flex: 1 1 auto;
}

.profilePic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

span {
  display: block;
  margin: 12px;
}
