.mat-tab-label-content {
    color: #141414;
}

.header {
    text-align: center;
}

h2 {
    color: #141414;
    margin-top: 12px;
}

.emptyClosetImage {
    width: 252.25px;
    height: 197.47px;
    padding-top: 120px;
}

.list {
    margin: 24px;
}

mat-grid-tile {
    background-color: gray;
}