<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Tops">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let top of filterTops(closet)">
          <mat-card class="mat-elevation-z0">
            <img mat-card-image src="/assets/clothing/Tops/{{top.fileName}}.png"
              [ngStyle]="{'background-color': top.colorHex}">
            <mat-card-content>
              <h1>{{top.colorName}} {{top.displayName}}</h1>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-icon-button matTooltip="Delete item" (click)="deleteClothing(top)">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
              <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
                <mat-icon>
                  palette
                </mat-icon>
              </button>
              <mat-menu #colorMenu="matMenu">
                <div class="colorMenuWrapper" fxLayout="row wrap" fxLayoutGap="12px grid">
                  <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let color of colors">
                    <div class="colors" [ngStyle]="{'background-color': color.hex}" (click)="updateClothingColor(top,color)">
                      <div class="colorNames">
                        {{color.displayName}}
                      </div>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Bottoms">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div ffxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let bottom of filterBottoms(closet)">
          <mat-card class="mat-elevation-z0">
            <img mat-card-image src="/assets/clothing/Bottoms/{{bottom.fileName}}.png"
              [ngStyle]="{'background-color': bottom.colorHex}">
            <mat-card-content>
              <h1>{{bottom.colorName}} {{bottom.displayName}}</h1>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-icon-button matTooltip="Delete item" (click)="deleteClothing(bottom)">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
              <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
                <mat-icon>
                  palette
                </mat-icon>
              </button>
              <mat-menu #colorMenu="matMenu">
                <div class="colorMenuWrapper" fxLayout="row wrap" fxLayoutGap="12px grid">
                  <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let color of colors">
                    <div class="colors" [ngStyle]="{'background-color': color.hex}" (click)="updateClothingColor(bottom,color)">
                      <div class="colorNames">
                        {{color.displayName}}
                      </div>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Outerwear">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let outerwear of filterOuterwear(closet)">
          <mat-card class="mat-elevation-z0">
            <img mat-card-image src="/assets/clothing/Outerwear/{{outerwear.fileName}}.png"
              [ngStyle]="{'background-color': outerwear.colorHex}">
            <mat-card-content>
              <h1>{{outerwear.colorName}} {{outerwear.displayName}}</h1>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-icon-button matTooltip="Delete item" (click)="deleteClothing(outerwear)">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
              <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
                <mat-icon>
                  palette
                </mat-icon>
              </button>
              <mat-menu #colorMenu="matMenu">
                <div class="colorMenuWrapper" fxLayout="row wrap" fxLayoutGap="12px grid">
                  <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let color of colors">
                    <div class="colors" [ngStyle]="{'background-color': color.hex}" (click)="updateClothingColor(outerwear,color)">
                      <div class="colorNames">
                        {{color.displayName}}
                      </div>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Footwear">
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let footwear of filterFootwear(closet)">
          <mat-card class="mat-elevation-z0">
            <img mat-card-image src="/assets/clothing/Footwear/{{footwear.fileName}}.png"
              [ngStyle]="{'background-color': footwear.colorHex}">
            <mat-card-content>
              <h1>{{footwear.colorName}} {{footwear.displayName}}</h1>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-icon-button matTooltip="Delete item" (click)="deleteClothing(footwear)">
                <mat-icon>
                  delete
                </mat-icon>
              </button>
              <button mat-icon-button matTooltip="Change color" [matMenuTriggerFor]="colorMenu">
                <mat-icon>
                  palette
                </mat-icon>
              </button>
              <mat-menu #colorMenu="matMenu">
                <div class="colorMenuWrapper" fxLayout="row wrap" fxLayoutGap="12px grid">
                  <div fxFlex="33%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let color of colors">
                    <div class="colors" [ngStyle]="{'background-color': color.hex}" (click)="updateClothingColor(footwear,color)">
                      <div class="colorNames">
                        {{color.displayName}}
                      </div>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

<body class="emptyCloset" *ngIf="closet.length < 1">
  <section class="header">
    <img class="emptyClosetImage" src="/assets/undraw_empty_xct9.svg" alt="">
    <h2>Add items to your closet!</h2>
  </section>
</body>

<app-speed-dial-fab class="fabAdd" [options]="FabOptions"></app-speed-dial-fab>
