<!-- <mat-tab-group mat-stretch-tabs>
  <mat-tab label="Tops">
    <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)" rowHeight="1:1" gutterSize="12px" class="list">
      <mat-grid-tile *ngFor="let top of closet" [ngStyle]="{'background': top.color}">
        {{top.color}}
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Bottoms"></mat-tab>
  <mat-tab label="Outerwear"></mat-tab>
  <mat-tab label="Footwear"></mat-tab>
</mat-tab-group>

<body class="emptyCloset" *ngIf="closet.length < 1">
  <section class="header">
    <img class="emptyClosetImage" src="/assets/undraw_empty_xct9.svg" alt="">
    <h2>Add items to your closet!</h2>
  </section>
</body>

<app-speed-dial-fab class="fabAdd" [options]="FabOptions"></app-speed-dial-fab> -->
<p>closet works!</p>
