.mat-tab-label-content {
  color: #141414;
}

.header {
  text-align: center;
}

h2 {
  color: #141414;
  margin-top: 12px;
}

.emptyClosetImage {
  width: 252.25px;
  height: 197.47px;
  padding-top: 120px;
}

mat-card {
  border: 1px solid #e0e0e0;
  padding: 24px;
}

.dialogCard {
  cursor: pointer;
}

.content {
  padding: 16px;
}

.content>mat-card {
  width: 200px;
}

.mat-icon-button:hover {
  opacity: 0.87;
  background-color: rgba(154, 160, 166, 0.157);
}

.colors {
  border: 1px solid black;
  cursor: pointer;
}

.colorNames {
  text-align: center;
  color: white;
  mix-blend-mode: difference;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.colorMenuWrapper {
  padding: 12px;
}