<div class="footer">
  <footer>
    <nav class="mat-elevation-z6">
      <button class="nav-button" routerLink="/home" [ngClass]="{ selected: selected === 'Home' }"
      (click)="setSelected('Home')">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button class="nav-button" routerLink="/closet" [ngClass]="{ selected: selected === 'Closet'}"
      (click)="setSelected('Closet')">
        <mat-icon>checkroom</mat-icon>
        <span>Closet</span>
      </button>
      <button class="nav-button" routerLink="/favorites" [ngClass]="{ selected: selected === 'Favorites'}"
      (click)="setSelected('Favorites')">
        <mat-icon>favorite</mat-icon>
        <span>Favorites</span>
      </button>
    </nav>
  </footer>
</div>