/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100%; height: auto; margin: 0;}
app-login {height: 100vh; width: 100%; background-color: #D8CE40;}
app-closet {height: 100%; width: 100%;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
