<div *ngIf="favorites.length < 1">
  <body class="emptyFavorites">
    <section class="header">
      <img class="emptyFavoritesImage" src="/assets/undraw_loving_story_0j59.svg">
      <h2>There's nothing here!</h2>
      <h3>Start favoriting outfits</h3>
    </section>
  </body>
</div>
<!-- <button (click)="checkInfo()">d</button> -->
<cdk-virtual-scroll-viewport itemSize="50">
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%" *cdkVirtualFor="let favorite of favorites; let i = index">
        <mat-card>
          <div class="container">
            <div class="image" *ngFor="let fav of favorite.favoritedOutfit">
              <img [src]="fav.path" [ngStyle]="{'background-color': fav.colorHex}">
              <div style="text-align: center;">{{fav.colorName}} {{fav.displayName}}</div>
            </div>
          </div>
          <mat-card-actions align="end">
            <button mat-icon-button matTooltip="Delete from favorites" (click)="deleteFavorite(favorite)">
              <mat-icon>
                delete
              </mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  </cdk-virtual-scroll-viewport>