<div *ngIf="combinations.length < 1">
  <body class="emptyHome">
    <section class="header">
      <img class="emptyHomeImage" src="/assets/undraw_web_shopping_dd4l.svg">
      <h2>There's nothing here!</h2>
      <h3>Add items from each category to your closet to generate outfits</h3>
      <button class="closetButton" mat-raised-button onclick="location.href='/#closet'">
          GO TO CLOSET
      </button>
    </section>
  </body>
</div>
<!-- <button (click)="closetF()">BLAh</button> -->
<!-- <input type="text" [value]="searchTextValue" placeholder="Not a child component"/> -->
<cdk-virtual-scroll-viewport itemSize="50">
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *cdkVirtualFor="let combo of filterOutfits(combinations); let i = index">
      <mat-card>
        <div class="container">
          <div class="image" *ngFor="let comb of combo">
            <img [src]="comb.path" [ngStyle]="{'background-color': comb.colorHex}">
            <div style="text-align: center;">{{comb.colorName}} {{comb.displayName}}</div>
          </div>
        </div>
        <mat-card-actions align="end">
          <!-- <button mat-icon-button matTooltip="Dismiss outfit">
            <mat-icon>
              clear
            </mat-icon>
          </button> -->
          <button mat-icon-button matTooltip="Favorite outfit" (click)="favoriteOutfit(combo)">
            <mat-icon>
              favorite_border
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
</cdk-virtual-scroll-viewport>