<!-- <div>
  <body class="emptyHome">
    <section class="header">
      <img class="emptyHomeImage" src="/assets/undraw_web_shopping_dd4l.svg">
      <h2>There's nothing here!</h2>
      <h3>Add items to your closet to generate outfits</h3>
      <button class="closetButton" mat-raised-button onclick="location.href='/#closet'">
          GO TO CLOSET
      </button>
    </section>
  </body>
</div> -->

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="50%" fxFlex.sm="33%" *ngFor="let combo of combinations">
      <mat-card>
        <div class="container">
          <div class="image">
            <img [src]="combo.top">
          </div>
          <div class="image">
            <img [src]="combo.outerwear">
          </div>
          <div class="image">
            <img [src]="combo.bottom">
          </div>
          <div class="image">
            <img [src]="combo.footwear">
          </div>
        </div>
        <mat-card-actions>
          <button mat-icon-button matTooltip="Dismiss outfit">
            <mat-icon>
              clear
            </mat-icon>
          </button>
          <button mat-icon-button matTooltip="Favorite outfit">
            <mat-icon>
              favorite_border
            </mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>